# Last update: Upgrade requests version

# Use this package if you need your Lambda function to be deployed from a Docker image.
# AWS Lambda Python Runtime Interface Client.
# awslambdaric==2.0.4

# Use this package if you need to interact with AWS services.
# AWS Software Development Kit for python.
# boto3==1.26.0

# Never use print() to debug again.
icecream==2.1.3

# Use this package if you need to request any API.
# Simple, yet elegant, HTTP library.
# requests==2.29.0
